@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
  width: 100%;
  min-height: 100vh;
}

a:link {
  text-decoration: none;
}

.Header, .Nav, .nav_list , .navsocial_list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 100%;
    list-style-type: none; 
}

h1{
  width: 100%;
}

.Header{
  background-color:#8B8BAE;
}

.container{
  width: 100%;
  min-height: 100vh;
}

.navsocial_list{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.logo{
  margin-left: 30px;
}

.container{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.sidenav{
  padding: 15%;
  margin-bottom: 20px;
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
  margin-left: 30px;
  
}

.sidenav_list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  margin-bottom: 20px;
  gap:20px;
}

.docs{
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}






